<html>
  <head>
    <meta charset='utf-8' />
    <title>{{data.title}}</title>
    <link href='css/styles.css' rel='stylesheet' />
  <body>
    <h1>Hello world!</h1>
    {{data.copyright}}

    <script src='js/scripts.js'></script>
  </body>
</html>